In [16]:
import numpy as np
import pandas as pd
import requests
from bs4 import BeautifulSoup
import re
import json
import urllib

** Data Sources **

- [Median Household Income (2006 - 2010)](https://www.psc.isr.umich.edu/dis/census/Features/tract2zip/)
- [Educational Attainment Over 18 years old](https://www.census.gov/data/tables/2019/demo/educational-attainment/cps-detailed-tables.html)
- [School Enrollment over 3 years old](https://www.census.gov/data/tables/2018/demo/school-enrollment/2018-cps.html)
- [**County Level Education and Income**](https://www.ers.usda.gov/data-products/county-level-data-sets/download-data/)
- [**California SAT Scores 15-16**](https://data.world/education/california-sat-report-2015-2016)

In [10]:
edu = pd.read_excel('Education.xls')
edu.head()

,FIPS Code,State,Area name,"Less than a high school diploma, 2014-18","High school diploma only, 2014-18","Some college or associate's degree, 2014-18","Bachelor's degree or higher, 2014-18","Percent of adults with less than a high school diploma, 2014-18","Percent of adults with a high school diploma only, 2014-18","Percent of adults completing some college or associate's degree, 2014-18","Percent of adults with a bachelor's degree or higher, 2014-18"
0,0,US,United States,26948057.0,59265308.0,63365655.0,68867051.0,12.3,27.1,29.0,31.5
1,1000,AL,Alabama,470043.0,1020172.0,987148.0,822595.0,14.2,30.9,29.9,24.9
2,1001,AL,Autauga County,4204.0,12119.0,10552.0,10291.0,11.3,32.6,28.4,27.7
3,1003,AL,Baldwin County,14310.0,40579.0,46025.0,46075.0,9.7,27.6,31.3,31.3
4,1005,AL,Barbour County,4901.0,6486.0,4566.0,2220.0,27.0,35.7,25.1,12.2

In [12]:
inc = pd.read_excel('Income.xls')
inc.head()

,FIPS,State,Area_name,Civilian_labor_force_2018,Employed_2018,Unemployed_2018,Unemployment_rate_2018,Median_Household_Income_2018,Med_HH_Income_Percent_of_State_Total_2018
0,0,US,United States,161640488.0,155344043.0,6296445.0,3.9,61937.0,NaN
1,1000,AL,Alabama,2198837.0,2112347.0,86490.0,3.9,49881.0,100.0000
2,1001,AL,"Autauga County, AL",25957.0,25015.0,942.0,3.6,59338.0,118.9591
3,1003,AL,"Baldwin County, AL",93849.0,90456.0,3393.0,3.6,57588.0,115.4508
4,1005,AL,"Barbour County, AL",8373.0,7940.0,433.0,5.2,34382.0,68.9280

In [14]:
sat = pd.read_excel('SAT Report 2015-2016.xls')
sat.head()

,cds,rtype,sname,dname,cname,enroll12,NumTstTakr,AvgScrRead,AvgScrMath,AvgScrWrit,NumGE1500,PctGE1500,year
0,0,X,NaN,NaN,NaN,492835,214262,484,494,477,89840,41.93,1516
1,1000000000000,C,NaN,NaN,Alameda,16662,8611,517,534,515,4696,54.53,1516
2,1100170000000,D,NaN,Alameda County Office of Education,Alameda,263,95,395,378,388,6,6.32,1516
3,1100170112607,S,Envision Academy for Arts & Technology,Alameda County Office of Education,Alameda,88,92,391,376,386,5,5.43,1516
4,1611190000000,D,NaN,Alameda Unified,Alameda,858,472,527,543,514,301,63.77,1516

In [18]:
# Enter your API key here 
api_key = "d3a9620b51e510dc9f95e04679c958ab"
  
# base_url variable to store url 
base_url = "http://api.openweathermap.org/data/2.5/weather?"
  
# Give city name 
city_name = input("Enter city name : ") 
  
# complete_url variable to store 
# complete url address 
complete_url = base_url + "appid=" + api_key + "&q=" + city_name 
  
# get method of requests module 
# return response object 
response = requests.get(complete_url) 
  
# json method of response object  
# convert json format data into 
# python format data 
x = response.json() 
  
print(x)
# Now x contains list of nested dictionaries 
# Check the value of "cod" key is equal to 
# "404", means city is found otherwise, 
# city is not found 
if x["cod"] != "404": 
  
    # store the value of "main" 
    # key in variable y 
    y = x["main"] 
  
    # store the value corresponding 
    # to the "temp" key of y 
    current_temperature = y["temp"] 
  
    # store the value corresponding 
    # to the "pressure" key of y 
    current_pressure = y["pressure"] 
  
    # store the value corresponding 
    # to the "humidity" key of y 
    current_humidiy = y["humidity"] 
  
    # store the value of "weather" 
    # key in variable z 
    z = x["weather"] 
  
    # store the value corresponding  
    # to the "description" key at  
    # the 0th index of z 
    weather_description = z[0]["description"] 
  
    # print following values 
    print(" Temperature (in kelvin unit) = " +
                    str(current_temperature) + 
          "\n atmospheric pressure (in hPa unit) = " +
                    str(current_pressure) +
          "\n humidity (in percentage) = " +
                    str(current_humidiy) +
          "\n description = " +
                    str(weather_description)) 
  
else: 
    print(" City Not Found ")

Enter city name : berkeley
{'coord': {'lon': -122.27, 'lat': 37.87}, 'weather': [{'id': 802, 'main': 'Clouds', 'description': 'scattered clouds', 'icon': '03n'}], 'base': 'stations', 'main': {'temp': 290.71, 'feels_like': 287.98, 'temp_min': 287.04, 'temp_max': 294.26, 'pressure': 1019, 'humidity': 68}, 'visibility': 16093, 'wind': {'speed': 4.6, 'deg': 270}, 'clouds': {'all': 40}, 'dt': 1588044625, 'sys': {'type': 1, 'id': 5154, 'country': 'US', 'sunrise': 1587993422, 'sunset': 1588042556}, 'timezone': -25200, 'id': 5327684, 'name': 'Berkeley', 'cod': 200}
 Temperature (in kelvin unit) = 290.71
 atmospheric pressure (in hPa unit) = 1019
 humidity (in percentage) = 68
 description = scattered clouds